.contact {
  padding: 40px 20px;
  text-align: center;
}

.contact__title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--title-color);
}

.contact__description {
  margin-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
  color: var(--title-color);
}

.contact__description-addition {
  display: none;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact__form-title {
  display: none;
}

.contact__form input,
.contact__form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  background-color: var(--accent-grey);
}

.contact__form input {
  margin-top: 10px;
}

.contact__form textarea {
  border-radius: 0;
  height: 120px;
}

.contact__form button {
  align-self: flex-start;
  width: 40%;
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
}

.contact__map {
  display: none;
}

.contact__address,
.contact__phone,
.contact__email {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

address {
  margin: 0;
}

.contact__social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact__social-icon {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1280px) {
  .contact__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 50px;
  }

  .contact__title {
    font-size: 30px;
  }

  .contact__description {
    font-size: 24px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .contact__description-addition {
    display: inline-flex;
  }

  .contact__form {
    flex: 1;
    order: 1;
    height: 100%;
    margin-left: 60px;
  }

  .contact__form input,
  .contact__form textarea {
    width: 85%;
  }

  .contact__form button {
    width: 30%;
    margin-left: 25px;
  }

  .contact__form textarea {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .contact__form-title {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }

  .contact__sidepart {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }

  .contact__address-info {
    display: inline-flex;
    align-items: center;
  }

  .contact__address,
  .contact__phone,
  .contact__email {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }

  .contact__address img,
  .contact__phone img,
  .contact__email img {
    width: 20px;
    margin-bottom: 5px;
  }

  .additional {
    display: none;
  }
  .contact__map {
    display: block;
    width: 50%;
    height: auto;
    margin: 30px auto;
  }

  .contact__social-icons {
    display: flex;
    align-self: flex-start;
    gap: 15px;
    margin: 0;
  }

  .contact__social-icon {
    width: 40px;
    height: 40px;
  }
}
