.features {
  text-align: center;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.features__title {
  font-size: 30px;
  font-weight: 400;
  color: var(--title-color);
}

.features__description {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

.features__items {
  display: flex;
  flex-direction: column;
}

.features__item {
  padding: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

.features__icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.features__item-title {
  font-size: 18px;
  color: var(--title-color);
  font-weight: 700;
  margin-bottom: 5px;
}

.features__item-description {
  font-size: 14px;
}

.features__description-addition {
  display: none;
}

.features__video {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.features__video-container {
  position: relative;
}

.video__container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video__preview {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}

.video__play-button img {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1280px) {
  .features {
    margin: 35px 120px;
  }
  .features__video {
    display: none;
  }

  .features__description span {
    display: inline-block;
  }

  .features__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .features__item {
    margin: 0;
    width: 25%;
  }

  .features__title {
    font-size: 36px;
  }

  .features__description {
    font-size: 26px;
  }
}
