.newsletter {
  text-align: center;
  padding: 40px 20px;
  margin: 0 auto;
}

.newsletter__title {
  visibility: hidden;
}

.newsletter__subtitle {
  font-size: 14px;
  font-weight: bold;
  color: var(--title-color);
}

.newsletter__tagline {
  font-size: 28px;
  color: var(--title-color);
}

.newsletter__description {
  margin-bottom: 20px;
}

.newsletter__input {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  border: 1px solid var(--accent-grey);
  border-radius: 30px;
  background-color: var(--accent-grey);
  margin-bottom: 10px;
}
.newsletter__description-accent {
  font-weight: bold;
  font-size: 14px;
  color: var(--title-color);
}
.newsletter__cta {
  width: 20%;
}

.newsletter__photo {
  margin-top: 30px;
}

.newsletter__photo img {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .newsletter {
    display: flex;
    text-align: left;
    width: 75%;
    gap: 40px;
    justify-content: space-between;
  }

  .newsletter__info {
    width: 40%;
    margin: 0 auto;
  }
  .newsletter__title {
    visibility: visible;
    font-size: 40px;
  }

  .newsletter__tagline,
  .newsletter__description-addition {
    display: none;
  }

  .newsletter__subtitle,
  .newsletter__description-accent {
    font-weight: bold;
  }

  .newsletter__form {
    display: flex;
    gap: 10px;
  }

  .newsletter__cta {
    width: 60%;
  }
}
