.testimonials {
  padding: 40px 20px;
  align-items: center;
  text-align: center;
  color: var(--title-color);
}

.testimonials__title {
  font-size: 40px;
  margin-bottom: 40px;
}

.testimonial__description img {
  width: 100px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.testimonial__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.testimonial__photo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testimonial__description {
  font-weight: bold;
}

.testimonial__photo p {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}

.testimonial__photo span {
  font-size: 12px;
}

@media screen and (min-width: 1280px) {
  .testimonial__description{
    font-weight: 400;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
  }
}