.video {
  display: none;
}

@media screen and (min-width: 1280px) {
  .video {
    display: block;
    position: relative;
  }

  .video__play-button img {
    position: absolute;
    height: 150px;
    width: 150px;
  }
}
